@model PSuporte.Domain.Models.ProcessoSeletivo
@{
    ViewData["Title"] = "Inscrição - " + Model.Titulo + " - PSuporte";
}

<script src="~/js/processo-seletivo/index.js"></script>
<script>
    Lemos.Framework.ProcessoSeletivo.urlEnviarInscricao = '@Url.Action("InscreverCandidato", "ProcessoSeletivo")';
</script>

@if (Model != null)
{
    <text>
        <div class="container-fluid">
            <div class="col-md-12" style="margin: 30px 0 30px 0; text-align: center;">
                <h1>@Model.Titulo</h1>
                <b>Período de Inscrição:</b>
                <p>De @Model.DataInicio.ToString("dd/MM/yyyy") à @Model.DataFim.ToString("dd/MM/yyyy")</p>
            </div>

        @Html.Partial("_FormularioInscricao")
        @Html.Partial("_ModalFormulario")

        </div>
    </text>
} else
{

}
